/**
 * Stylesheet zur Klasse App: Hauptstylesheet der Anwendung.
 *
 * Hier sollten nur allgemeine Sachen stehen, die das Layout als Ganzes
 * betreffen. Also solche Dinge wie Schriftart, Schriftgrößen oder Farben.
 * Spezifische Angaben zur Listenübersicht oder dem Eingabeformular gehören
 * stattdessen in das jeweilige Stylesheet.
 */

/**** TODO: Stylesheet überarbeiten ****/


@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap');


/* ALLGEMEINES */
html, body {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Source Serif Pro', serif;
    font-size: 10pt;
    line-height: 1.6;
}

.hidden {
    display: none;
}

@media (min-width: 40em) {
    html {
        /* http://bg.siteorigin.com/ */
        background-color: #D1F0FD;
        background-image: url(img/travelbackground.png.jpg);

        font-size: 12pt;
    }

    body {
    
        font-size: 13px;
        max-width: 50em;
        margin: 0 auto;
        margin-top: 4em;
        margin-bottom: 4em;

    }
    h1{
        color:rgb(235, 235, 241);
        font-size:larger;
        justify-content: center;
    }
}

/* NAVIGATION */
nav {
    user-select: none;

    background-color: #143783;
    color: white;

    border: 0px solid #143783;
    border-bottom-width: 3px;
}

nav a,
nav a:visited,
nav a:hover {
    color: rgb(190, 21, 21);
    text-decoration: none;

    display: inline-flex;
    padding: 1em;
}

nav.non-interactive a:hover {
    cursor: default;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: -2px;

    display: flex;
}

nav li.active {
    background-color: #6b86c2;
    border: 0px solid rgb(33, 146, 187);
    border-bottom-width: 3px;
}

nav li:hover {
    background-color: #201f5e;

    border: 0px solid rgb(103, 197, 231);
    border-bottom-width: 3px;
}
